[submodule "assets"]
	path = assets
	url = https://github.com/mushrom/grend-assets-light.git
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
