[submodule "assets"]
	path = assets
	url = https://github.com/mushrom/grend-assets-light.git
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = https://github.com/mushrom/tinygltf
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/nanovg"]
	path = libs/nanovg
	url = https://github.com/memononen/nanovg
